.subHeader {
    position: relative;
    color: rgba(1, 69, 122, 1); 
}

.subTxt {
    position: absolute;
    left: 45px;
    top: 18px;
    font-size: 40px;
    line-height: 49.04px;
    font-weight: 700;
}