.textBlock {
    width: 1209px;
    min-height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1209px;
    gap: 10px;
    padding-top: 30px;
    box-sizing: border-box;
}

.defaultTxt {
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
}

.boldTxt {
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    padding-right: 35px;
}

.title {
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: -20px;
}

.cardBlock {
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
    gap: 45px;
}

.cardTextBold {
    font-size: 26px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .container {
        width: 90%;
    }
    
    .textBlock {
        width: 100%;
    }
    
    .defaultTxt {
        line-height: 24px;
        font-size: 21px;
    }
    
    .boldTxt {
        line-height: 24px;
        font-size: 22px;
    }
    
    .title {
        font-size: 22px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        margin-top: 15px;
    }
    
    .cardBlock {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    
    .cardTextBold {
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
    }

}