.firstVector {
    position: absolute;
    left: 0;
    z-index: 3;
}

.secondVector {
    position: absolute;
    left: 0;
    margin-left: 534px;
    z-index: 2;
}

.thirdVector {
    position: absolute;
    left: 0;
    margin-left: 610px;
    z-index: 1;
}