.container {
    padding:40px 38px 40px 38px;
}

.textBlock {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 1209px;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
}

.boldText {
    width: 1209px;
    min-height: 240px;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
}

.imageContainer {
    margin-top: 40px;
    width: 100%
}

@media screen and (max-width: 1024px) {
    .container {
        width: 90%;
        padding: 30px 20px;
    }

    .textBlock {
        width: 100%;
    }

    .boldText {
        width: 100%;
        min-height: 200px;
    }

    .imageContainer {
        margin-top: 30px;
        width: 100%;
    }

    .image {
        width: 100%;
    }
}